.header {
    background-color: lightskyblue;
    width: 80%;
}

.error-msg {
    text-decoration-color: red;
}

.width-full {
    width: 100%;
}

.width-narrow {
    width: 60%;
}

.vertical-align-top {
    vertical-align: top;
}

.dialog {
    margin: 0;
    padding: 0.5em 0.5em !important;
}